/********************************************************************
 *  Copyright (c) 2011-2020, MengFei.                               *
 *  All Rights Reserved.                                            *
 *------------------------------------------------------------------*
 *  File Name:                                                      *
 *  Abstract :                                                      *
 *------------------------------------------------------------------*
 *  Author   :  MengFei                                             *
 *  Version  :  1.0                                                 *
 *  Creation :  2011/01/15                                          *
 *------------------------------------------------------------------*
 *  Modify:                                                         *
 *      Date    Version         Contents                            *
 *                                                                  *
 ********************************************************************/

#ifndef __ANY_MSG_H__
#define __ANY_MSG_H__

#include "Any.h"

//
// APP names.
//

#define ANY_APP_XXX             ANY_APP_NAME(XXX)

//
// MSG IDs.
//

#define ANY_MSG_PAIR_DECLARE(op)    \
    ANY_MSG_ ## op ## _REQ,         \
    ANY_MSG_ ## op ## _RES

enum E_ANY_MSG
{
    ANY_MSG_XXX_REQ     = ANY_MESSAGE(0),
    ANY_MSG_XXX_RES,

};

#endif // !__ANY_MSG_H__
