/********************************************************************
 *  Copyright (c) 2011-2020, MengFei.                               *
 *  All Rights Reserved.                                            *
 *------------------------------------------------------------------*
 *  File Name:                                                      *
 *  Abstract :                                                      *
 *------------------------------------------------------------------*
 *  Author   :  MengFei                                             *
 *  Version  :  1.0                                                 *
 *  Creation :  2011/01/15                                          *
 *------------------------------------------------------------------*
 *  Modify:                                                         *
 *      Date    Version         Contents                            *
 *                                                                  *
 ********************************************************************/

#ifndef __ANY_SIZE_H__
#define __ANY_SIZE_H__

#include "Any.h"


#endif // !__ANY_SIZE_H__
