/********************************************************************
 *  Copyright (c) 2011-2020, MengFei.                               *
 *  All Rights Reserved.                                            *
 *------------------------------------------------------------------*
 *  File Name:                                                      *
 *  Abstract :                                                      *
 *------------------------------------------------------------------*
 *  Author   :  MengFei                                             *
 *  Version  :  1.0                                                 *
 *  Creation :  2011/01/15                                          *
 *------------------------------------------------------------------*
 *  Modify:                                                         *
 *      Date    Version         Contents                            *
 *                                                                  *
 ********************************************************************/

#ifndef __ANY_ERROR_H__
#define __ANY_ERROR_H__

#include "Any.h"

#define ANY_ERROR_NUM(v)                        (-v)

#define ANY_SUCCESS                             GC_SUCCESS
#define ANY_OK                                  ANY_SUCCESS
#define ANY_ERROR                               GC_ERROR
#define ANY_ERR_NORMAL                          ANY_ERROR_NUM(10000)
#define ANY_ERR_INVALID_PARAM                   ANY_ERROR_NUM(10001)
#define ANY_ERR_NO_MEMORY                       ANY_ERROR_NUM(10002)
#define ANY_ERR_IPC_ERROR                       ANY_ERROR_NUM(10003)
#define ANY_ERR_PENDDING                        ANY_ERROR_NUM(10004)
#define ANY_ERR_UNRESOLVED                      ANY_ERROR_NUM(10005)
#define ANY_ERR_TIMEOUT                         ANY_ERROR_NUM(10006)
#define ANY_ERR_INVALID_PACKET                  ANY_ERROR_NUM(10007)

#endif //__ANY_ERROR_H__
